.App {
  text-align: center;
}
#logo {
  width: 10rem;
}

h1 {
  font-size: 1.5rem;
  padding-bottom: 20px;
  border-bottom: 6px ridge #0f1b07;
  text-decoration: none;
}

.header,
.review-title {
  color: black;
  text-decoration: none;
}

.header:hover {
  color: rgb(104, 114, 124);
}

h2 {
  font-size: 1rem;
  text-decoration: underline;
}

button {
  border-radius: 30%;
  background-color: white;
  color: #0f1b07;
}

button:hover {
  background-color: #e8e3d9;
  box-shadow: 0px 0px 3px #00000080;
}

.review-title:hover {
  color: rgb(61, 59, 59);
}

.review-card__link {
  color: black;
  text-decoration: none;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.review-img {
  width: 60%;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 20px;
}

.review-img:hover {
  box-shadow: 0px 0px 20px #00000080;
}

.review-body {
  font-size: 0.7rem;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 50px;
}

.link-to-page {
  padding: 30px;
  color: black;
}

.link-to-page:hover {
  color: rgb(104, 114, 124);
  text-decoration: none;
}

.single-review-to-reviews {
  color: black;
}

.single-review-to-reviews:hover {
  color: rgb(104, 114, 124);
  text-decoration: none;
}

/* 
Comments
*/

.comments-area {
  background-color: #858178;
}

.comments-section {
  list-style: none;
}

#comment-title {
  padding-top: 20px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: -30px;
}

@media only screen and (max-width: 900px) {
  .review-img {
    width: 90%;
  }

  .review-card {
    display: block;
    border: 1.5px solid black;
    background-color: #858178;
    padding: 20px 30px;
    border-radius: 50px;
    margin: auto;
    margin: 10px 20px;
    width: auto;
    height: auto;
    margin-right: 40px;
    margin-left: 40px;
    flex-grow: 1;
  }

  .single-review {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .single-review__text-section {
    margin: 20px 30px;
  }

  #single-review__title {
    font-size: 0.9rem;
  }

  #single-review__img {
    display: block;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    width: auto;
    max-width: 80%;
    border-radius: 25px;
  }

  .comments-area {
    margin: auto;
    margin: 20px 30px;
  }

  #single-review__designer {
    font-size: 0.7rem;
    margin-top: -5px;
  }

  #single-review__category {
    font-size: 0.7rem;
    margin-top: -5px;
  }

  #single-review__body {
    font-size: 0.8rem;
  }

  #single-review__votes {
    font-size: 0.6rem;
    margin-top: 10px;
  }

  #single-review__created {
    font-size: 0.6rem;
    margin-top: -10px;
  }

  #single-review__comment-count {
    font-size: 0.6rem;
    margin-top: -10px;
  }

  .single-review__text-section {
    background-color: #858178;
    border-radius: 25px;
    padding: 10px 30px;
    margin-top: 20px;
  }

  .single-review-to-reviews {
    margin-left: 20px;
  }

  .avatar-img {
    width: 2rem;
    height: auto;
    margin-right: 10px;
  }

  .comments-area {
    background-color: #858178;
    border-radius: 20px;
  }

  .comments-section {
    padding: 25px;
    /* border: 2px red solid; */
    text-align: left;
    align-items: left;
    margin-left: -40px;
    width: auto;
    margin-bottom: 10px;
  }

  .comment-votes {
    margin-top: -10px;
    font-size: 0.8rem;
  }

  .comment-time {
    margin-top: -10px;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 900px) {
  h2 {
    font-size: 200%;
  }
  .reviews {
    margin-right: 10%;
    margin-left: 10%;
  }

  .review-card {
    background-color: #858178;
    border-radius: 50px;
    padding: 30px;
    margin: 30px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-right: 40px;
    margin-left: 40px;
    flex-grow: 1;
  }
  .single-review {
    display: grid;
    grid-template-areas:
      "link link link link link link link"
      "img img img img img text text"
      ". comments comments comments comments comments .";
    margin: 20px;
  }

  .link-to-reviews {
    grid-area: link;
    text-align: left;
  }

  .single-review__img-section {
    padding: 20px;
    grid-area: img;
    margin-bottom: 50px;
  }

  .comments {
    grid-area: comments;
  }

  .single-review__text-section {
    grid-area: text;
    text-align: justify;
    padding: 50px 50px;
    margin-left: 10px;
    border-radius: 80px;
    height: auto;
    max-width: 100%;
    background-color: #858178;
    margin-bottom: 50px;
  }

  .comments-section {
    text-align: left;
  }

  #comment-title {
    margin: 0px 40px;
  }

  #single-review__img {
    border: 2px solid black;
    width: 500rem;
    height: auto;
    max-width: 100%;
    border-radius: 80px;
  }

  #single-review__votes {
    font-size: 0.8rem;
    margin-top: -10px;
  }

  #single-review__comment-count {
    font-size: 0.8rem;
    margin-top: -10px;
  }

  #single-review__created {
    font-size: 0.8rem;
    margin-top: -10px;
  }

  .comments-area {
    border-radius: 20px;
  }

  .avatar-img {
    height: 3rem;
    margin-right: 5px;
  }

  .comments-section {
    margin-bottom: 30px;
  }

  .comment-votes {
    font-size: 0.8rem;
    margin-top: -10px;
  }

  .comment-time {
    font-size: 0.8rem;
    margin-top: -10px;
  }

  .comments-area {
    padding: 20px;
  }
}

/* higher breakpoint */

@media only screen and (min-width: 900px) {
  .single-review {
    display: grid;
    grid-template-areas:
      "link link link link link link link"
      "img img img img img text text"
      ". comments comments comments comments comments .";
    margin: 20px;
  }

  .review-title {
    font-size: 2rem;
  }
  .review-card {
    padding-bottom: 100px;
  }

  .review-body {
    font-size: 1.2rem;
    padding: 10px 50px;
    padding-bottom: 40px;
  }

  .link-to-reviews {
    grid-area: link;
  }

  .single-review__img-section {
    padding: 20px;
    grid-area: img;
    margin-bottom: 50px;
  }

  .comments {
    grid-area: comments;
  }

  .single-review__text-section {
    grid-area: text;
    text-align: justify;
    padding: 50px 50px;
    margin-left: 10px;
    border-radius: 80px;
    height: auto;
    max-width: 100%;
    background-color: #858178;
    margin-bottom: 50px;
  }
}
