.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px 20px;
}

.review-card {
  border: 1.5px solid black;
  margin-bottom: 20px;
  background-color: grey;
  padding: 20px 30px;
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
  border-radius: 50px;
}

.review-img {
  width: 12rem;
}

.review-body {
  font-size: 0.7rem;
  text-align: justify;
}

.link-to-page {
  padding: 30px;
}
